#border1{
    border: 10px solid; 
    width: 500px;
    padding: 25px;
    margin: 10px;
    border-color: pink;
}

#border2{
    border: 10px solid; 
    width: 150px;
    padding: 25px;
    margin: 10px;
    margin-left: 200px;
    border-color: purple;
}