body{
    background-color: black;
    text-align: left;
    width: auto;
}

.gekleurde-tekst{
    color: white;
    font-size: 125%;
    margin: 5px;
}

.titel{
    font-size: 150%;
}

.gekleurde-tekst2{
    color: yellow;
    font-size: 125%;
    margin-bottom: 5px;
}

.gekleurde-tekst3{
    color: lightgreen;
    font-size: 125%;
}

.lettertype{
    font-family: Arial;
    font-size: 300%;
    margin-top: 0px;
    margin: auto;
}

.lettertype2{
    font-family: cursive;
}

.tekstblok{
    background-color: red;
    border: 2px solid;
    padding: 10px;
    margin-top: 10px; 
    border-color: yellow;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

section{
    padding: 5px;
    color:white;
}

a:link {
    color: white;
}

a:visited{
    color: blue;
}

a:hover{
    color: pink;
}